body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #0103053b;
    color: #333;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffffad;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.301);
  }
  
  h1 {
    text-align: center;
    color: #33798f;
  }
  
  h2 {
    text-align: center;
    color: #33798f;
  }

  .imagem {
    display: block;
    width: 100%;
  }
  
  .login-container {
    max-height: 50%;
    justify-self: center;
    width: 100%;
    text-align: center;
    display: block;
    gap: 10px;
    padding: 5% 0%;
  }

  .buttons-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .button {
    background-color: #33798f;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #285e67;
  }
  
  .data {
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #33798f;
    border-radius: 5px;
    background-color: #e6f7f3;
  }
  
  .textarea {
    height: min-content;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #33798f;
    padding: 10px 15px;
    font-size: 16px;
  }
  
  #videoElement {
    width: 100%;
    height: auto;
    border: 5px solid #33798f;
    border-radius: 8px;
  }
  
  #threejs-container {
    width: 100%;
    height: auto; /* Altura fixa para que fique quadrado */
    aspect-ratio: 1; /* Manter a proporção de 1:1 (quadrado) */
    border: 5px solid #33798f;
    border-radius: 8px;
    margin-top: 20px;
  }

  .start-button {
    background-color: #f39c12;
  }
  
  .start-button:hover {
    background-color: #e67e22;
  }
  